.player-wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 15px;
  width: 20%;
  border: 1px solid pink;
}
/* 
DarkMode */

.navbar {
  align-items: center;
  background-color: lightskyblue;
  border-bottom: 1px solid rgb(221, 221, 221);
  display: flex;
  height: 70px;
  justify-content: space-around;
  padding: 0 3%;
  width: 100%;
  -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
}

.dark-mode__toggle {
  background: white;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle {
  background: lightblue;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 18px;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}

.dark-mode .navbar {
    background-color: #1F2022;
    border: none;
}
